<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a href="index.html" id="logo">SHAREHOLDERS</a></h1>
                    <nav id="nav">
                        <a asp-controller="Person" asp-action="Index">All Persons</a>
                        <a href="twocolumn1.html">Individual</a>
                        <a href="twocolumn2.html" class="current-page-item">Entities</a>
                        <a href="onecolumn.html">Dividends</a>
                        <a href="threecolumn.html">Information on shareholders</a>
                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>