<div>
<div class="col-8 col-12-medium imp-medium">

    <section>
        <h2>Information for insiders</h2>
        <p>This section contains information required for the insiders of Gazprom to perform their duties under the current laws of the Russian Federation, the regulatory acts of the Bank of Russia adopted thereunder, and the internal documents of Gazprom on countering the illegal use of insider information and market manipulation, as well as information on the legal consequences of unlawful use of the Company’s insider information and/or market manipulation by insiders.</p>
        <p>“insider information” means any accurate and specific information that has not been disseminated or disclosed (including data constituting a trade, business, banking or communication secret or other legally protected secret) and that, if disseminated or disclosed, could have a significant impact on the price of the Company’s securities and derivatives.</p>
        <p>nsiders of Gazprom shall also, upon receiving a substantiated written request (inquiry) to that effect from the Bank of Russia, submit the documents, explanations and information in their possession (Article 16 of the Law) in the timelines specified in the relevant request (inquiry).</p>
    </section>

</div>
</div>